@charset "UTF-8";

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: linear-gradient(135deg, #000000, #9c4141);
    color: #fff;
    text-shadow: 0 0 8px rgba(242, 198, 198, 0.5);
}

/* FOTO */
.foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 60px;
}

.hero h1 span {
    color: #f2c6c6;
}

.hero h2 {
    font-size: 50px;
}

/* TÍTULOS */
h2 {
    margin: 30px 0;
    color: #f2c6c6;
    text-shadow: 0 0 8px black;
}

/* PROJETOS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px;
}

.card {
    background: #ac3131;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 15px #000;
}

/* CONTATOS */
.contatos {
    background: #ac3131;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px #000;
}

.contatos-item {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

/* LINKS */
.card a,
.contatos-item a {
    color: #ac3131;
    text-decoration: none;
}

.card a:hover,
.contatos-item a:hover {
    color: #ac3131;
    text-decoration: underline;
}

/* FOOTER */
footer {
    margin-top: 60px;
    font-size: 14px;
    text-align: center;
}

/* 📱 RESPONSIVO */
@media (max-width: 768px) {

    .hero h1 {
        font-size: 32px;
    }

    .hero h2 {
        font-size: 22px;
    }

    .hero {
        padding: 60px 10px;
    }

    .cards {
        padding: 20px;
    }

    .foto {
        width: 140px;
        height: 140px;
    }

    .contatos-item {
        flex-direction: column;
        align-items: flex-start;
    }
}
